<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Eclipse fog05 Demo - MEC RNIS Service</title>


    <link rel="stylesheet" href="css/styles.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/jstree/dist/themes/default/style.css" />
    <link href="css/ubuntu.css" rel="stylesheet">
    <link href="css/epoch.min.css" rel="stylesheet">

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="libs/jstree/dist/jstree.js"></script>
    <script src="js/coffez.js"></script>
    <script src="js/store.js"></script>
    <script src="js/app.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/chart.js"></script>
</head>

<body onload="wsconnect();">

    <!-- Start All -->
    <div class="container-fluid page">
        <!-- Start Header -->
        <header class="row header">
            <div class="col-md-6">
                <img src="pics/logo.png" alt="ADLINK logo" />
            </div>
            <div class="col-md-6">
                <img src="pics/eclipse.png" height="80" alt="5GCity logo" align="center" />
            </div>
            <div class="col-md-1">
                <img src="pics/f05_logo.png" height="80" alt="Eclipse fog05 logo" />
            </div>

        </header>

        <br>
        <div class="container">
            <div class="jumbotron">
                <h2>Eclipse fog05 - Fog and MEC IaaS - RNIS Demo</h2>
                <h3>RNIS Data Viewer</h3>
                <p>This demo shows the deployment of and MEC Applications and MEC Services using Eclipse fog05</p>
                <p>Application instantiated using Eclipse fog05</p>
                <ul>
                    <li>MEC Platform</li>
                    <li>Wi-Fi Access Point</li>
                    <li>MQTT Broker</li>
                    <li>Wi-Fi RNIS (Radio Network Information Service)</li>
                    <li>RNIS Data Viewer - This web server</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <p class="lead">The goal of Eclipse fog05 is to address the heterogeneity that comes for having compute and
                networking resources at the edge of the network, because of the different virtualisation capabilities
                that will be present on lamp post or in a cabinet in the street, as well as the need of managing MEC
                applications as well as NSs in a scenario in which MEC and NFV should work together to enable the best
                experience for the user of the 5G network.
            </p>
        </div>

        <!-- <div class="container">
            <div class="alert alert-success" role="alert" id="notification_ok">
                <a href="#" class="alert-link"></a>
            </div>
            <div class="alert alert-danger" id="notification_error" role="alert">
                <p class="alert-link" align="center">Ops.. something went wrong</p>
            </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">RNIS plot</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="rinsChart" width="400" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <!-- Start footer -->
        <!-- End footer -->

    </div>
    <!-- End all -->


</body>

</html>