
body {
    margin: 0;
}

.header {
    background-color: #A3BD65;
    border-bottom: solid 4px #969fba;
    display: flex;
    
    font-family: 'Ubuntu', sans-serif;
}

.footer{
    background-color: #DADFE1;
    border-top: solid 4px #5a5858;
}
.footer h1{
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.content {
    flex: auto;
}

.page-connect {
    display: none;
}

.page-connect.active{
   display: block;
}

.page-principal {
    display: none;
    font-weight: bold;
}

.page-principal.active {
    display: block;
}

.nav {
    overflow: auto;
}

.section{
    width: 66%;
    margin: auto;
    font-size: 15px;
}

.well {
    background-color:#CCC;
    padding: 20px;
}

#valueNodeTree {
    word-wrap: break-word;
}

#nameNodeTree {
    word-wrap: break-word;
}

.node_active {
    color: #000000;
}


.node_disable {

    color: #C0C0C0;
}

pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }

